.homepage{
    display: flex;
    flex: row;
}
.homepage__nav{
    flex: .2;
}
.homepage__timeline{
    flex: .8;
}/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000000;
  }

  .sidenav__logo{
    display: flex;


  }
  
  #wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
  }
  
  .main-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  
  .header {
    border: 0px solid #ec22ba;
    margin-bottom: 5px;
  }
  

 /* ... (Previous CSS styles) ... */

.signin-form {
    background: rgb(66, 107, 241);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(230, 83, 83, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin: 0 auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements horizontally */
    margin-left: 60%;
    margin-top: 5%;

  }
  
    
  .signin-form h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .signin-form input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #bd6969;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .signin-form button {
    width: 60%;
    padding: 8px;
    margin: 10px;
    background-color: #248ef1; /* Instagram's blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  .sub-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
  }
  
  .s-part {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  
  .s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  
  input:focus {
    background-color: rgb(241, 241, 230);
  }
  
